<div class="row container" id="contato">
    <h2>Contato</h2>
    <div class="col-6">
        <p>Ficou com alguma dúvida? Não perca tempo! Nos envie um e-mail ou acesse nossas redes sociais.</p>
        <hr>
        <div class="row redes-sociais">
            <h3>Nossas Redes Sociais:</h3>
            <div class="col-3"><a href="https://api.whatsapp.com/send?phone=5511940420471&text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20desenvolvimento%20de%20um%20Site%20para%20minha%20empresa!"><img src="/assets/img/whatsapp.png" alt="WhatsApp"></a></div>
            <div class="col-3"><a href="#"><img src="/assets/img/facebook.png" alt="Facebook"></a></div>
            <div class="col-3"><a href="#"><img src="/assets/img/instagram.png" alt="Instagram"></a></div>
            <div class="col-3"><a href="#"><img src="/assets/img/twitter.png" alt="Twiter"></a></div>
        </div>
    </div>
    <div class="col-6">
        <h2>E-mail</h2>
        <form #emailForm="ngForm" *ngIf="email">
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="nome" class="form-label">Nome</label>
                    <input [(ngModel)]="email.nome" name="nome" #emailNome="ngModel" type="text" class="form-control" id="nome" placeholder="Afonso Abreu" required>
                    <div class="invalid-feedback">
                        <span>Nome é obrigatório.</span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input [(ngModel)]="email.email" name="email" #emailEmail="ngModel" type="email" class="form-control" id="email" placeholder="afonsoabreu@exemplo.com.br" required>
                    <div class="invalid-feedback">
                        <span>E-mail é obrigatório. Padrão: exemplo@exemplo.com</span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="assunto" class="form-label">Assunto</label>
                <input [(ngModel)]="email.assunto" name="assunto" #emailAssunto="ngModel" type="text" class="form-control" id="assunto" placeholder="Orçamento de site" required>
                <div class="invalid-feedback">
                    <span>Assunto é obrigatório.</span>
                </div>
            </div>
            <div class="mb-3">
                <label for="mensagem" class="form-label">Mensagem</label>
                <textarea [(ngModel)]="email.mensagem" name="mensagem" #emailMensagem="ngModel" class="form-control" id="mensagem" rows="3" placeholder="Escreva aqui mais detalhes do que precisa..." required></textarea>
                <div class="invalid-feedback">
                    <span>Mensagem é obrigatório.</span>
                </div>
            </div>
    
            <button [disabled]="emailForm.invalid" class="btn btn-primary float-left" (click)="enviar()">Enviar</button>
        </form>
    </div>
</div>
