<header class="p-3 bg-dark text-white sticky-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="navbar-brand d-flex align-items-center mb-2 mb-lg-0 text-white">
          Abreu Pages
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#home" class="nav-link px-2 text-white">Home</a></li>
          <li><a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#quem-somos" class="nav-link px-2 text-white">Quem Somos</a></li>
          <li><a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#servicos" class="nav-link px-2 text-white">Serviços</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Contato</a></li>
        </ul>

      </div>
    </div>
</header>