<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#home" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#quem-somos" class="nav-link px-2 text-muted">Quem Somos</a></li>
      <li class="nav-item"><a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#servicos" class="nav-link px-2 text-muted">Serviços</a></li>
      <li class="nav-item"><a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#" class="nav-link px-2 text-muted">Contato</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Abreu Pages. Todos direiros reservados.</p>
  </footer>